body{
    background-color: #eee;
}

footer{
    background-color: #000000;
}

li{
    margin: 0;
    text-align: center;

}

/*
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
	float: left;
    display: inline;
}

a:link, a:visited {
	alignment-baseline: central;	
    display: inline-block;
    width: 240px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #000000;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color: #FF1919;
}
*/